.imgF {
    display: grid;
    place-content: center;
}

.nosotros {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 3% 0 3% 0
}

.nosotros .deff {
    text-align: center;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}

// p {
//     color: #fff;
// }