@import url('https://fonts.googleapis.com/css2? family= Libre+Baskerville & display=swap');

:root {
    --font-poppins: 'Libre Baskerville', serif;
    --color-primary: #970832;
    --color-secundary: white;
    --text-pc: 20px;
    --text-tablet: 20px;
    --text-mobil: 17px;
}